@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "0xProto Nerd Font";
    font-size: 14px;
    border-radius: 30px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

#window {
  font-size: 9px;
  color: @background;
}
